<!DOCTYPE html>
<html>
    <head>
        <title>Projet GL</title>
    </head>
    <body>
    <h1>Projet GL</h1>
    <p>
        <h3>Le déploiement s'est correctement terminé.</h3>
    </p>

    <p>
        <a href="./projet.log" target="_blank">Journal de déploiement</a>
    </p>

    <p>
        Les services suivants ont été déployés :
        <ul>
            <li>MariaDB + <a href="./pma/">PHPMyAdmin</a></li>
            <li><a href="./sonar/">SonarQube</a></li>
            <li><a href="./gogs/">Gogs</a></li>
        </ul>  
    </body>
</html>
